<div class="container">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
   <%= bootstrap_form_for @lesson do |f| %>

      <%= f.text_field :title %>
      <%= f.text_area :description %><br />
      <%= f.number_field :points %><br>
      <%= f.number_field :placement %><br>
      <%= f.text_field :path %><br>
      <%= f.number_field :unit_id %>

      <%= f.submit %>
    <% end %>

    <%= link_to "Go to Lesson Page", @lesson %><br>
    <% @segments.each do |segment| %>
      <%= link_to "#{segment.content_type.titleize} #{segment.place_value}", edit_segment_path(segment), class: "btn btn-info" %><br>
    <% end %>

    <%= link_to "Add a Markdown Segment", new_segment_path(lesson_id: params[:id], content_type: "markdown") %><br>
    <%= link_to "Add an Image Segment", new_segment_path(lesson_id: params[:id], content_type: "image") %><br>
  </div>
</div>