<div class="container">
  <div class="container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

    <h2><%= @lesson.title %></h2>
    <p><%= @lesson.description %></p>

    <%= render partial: "segment", collection: @segments %>

    <%= bootstrap_form_for @completed_lesson, :url => complete_lesson_path(@lesson) do |f| %>
      <%= button_to "Completed!", @user, method: :post, class: "btn btn-info" %>
    <% end %>
  </div>
</div>