<div class="container">
  <table class="table table-hover table-responsive">
    <tr>
      <th>Unit Number</th>
      <th>Description</th>
      <th>Total Points</th>
      <th>Published</th>
    </tr>

    <% @units.each do |unit| %>
    <tr>
      <td>
        <%= link_to "Unit"+unit.id.to_s, unit_path(unit) %>
      </td>
      <td>
        <%= unit.description %>
      </td>
      <td>
        <%= unit.total_points %>
      </td>
      <td>
        <% if unit.published == true %>
          <%= unit.published %>
        <% else %>
          <%= bootstrap_form_for unit, :url => edit_unit_path(unit) do |f| %>
            <%= button_to "Publish", @unit, method: :patch, class: "btn btn-info" %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>