<div class="container">
  <div class="container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <h3>Unit <%= @unit.id %></h3>
    <h3>Description:</h3><br>
    <p><%= @unit.description %></p><br>
    <h3>Total Points to Complete:</h3>
    <%= @unit.total_points %>

    <hr>
    <% if current_user.admin? %>
      <%= link_to "Add a Lesson", new_lesson_path(unit_id: params[:id], path: "lesson") %><br>
      <%= link_to "Add an Exercise", new_lesson_path(unit_id: params[:id], path: "exercise") %><br>
      <%= link_to "Add a Project", new_lesson_path(unit_id: params[:id], path: "project") %><br>
      <%= link_to "Add a Community Assignment", new_lesson_path(unit_id: params[:id], path: "community") %><br>
      <%= link_to "Add a Vocational Assignment", new_lesson_path(unit_id: params[:id], path: "vocation") %><br>
      <%= link_to "Add a Reflection Assignment", new_lesson_path(unit_id: params[:id], path: "reflection") %><br>
    <% end %>
  </div>
</div>