<div class="container">
  <div class="container col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <h3>Unit <%= @unit.id %></h3>
    <%= link_to 'Edit', edit_unit_path(params[:id]), class: "btn btn-info" %>

    <p>
      <%= image_tag @unit.image_url(:display).to_s %>
    </p>
    <h3>Description:</h3><br>
    <p><%= markdown(@unit.description) %></p><br>
    <% if @to_do_lessons.empty? %>
      Congrats! You are now ready for Unit 2!
      Unfortunately Unit 2 is still being written. Please be patient.
    <% else %>
    <h3>Lessons to Complete:</h3><br>
      <% @to_do_lessons.each do |lesson| %>
        <%= link_to "#{lesson.path.titleize}:   #{lesson.title}", lesson %><br>
      <% end %>
    <% end %>

    <h3>All lessons</h3>
      <% @lessons.each do |lesson| %>
        <%= link_to "#{lesson.path.titleize}:   #{lesson.title}", lesson %><br>
      <% end %>

    <hr>
    <% if current_user.admin? %>
      <%= link_to "Add a Lesson", new_lesson_path(unit_id: params[:id], path: "lesson") %><br>
      <%= link_to "Add an Exercise", new_lesson_path(unit_id: params[:id], path: "exercise") %><br>
      <%= link_to "Add a Project", new_lesson_path(unit_id: params[:id], path: "project") %><br>
      <%= link_to "Add a Community Assignment", new_lesson_path(unit_id: params[:id], path: "community") %><br>
      <%= link_to "Add a Vocational Assignment", new_lesson_path(unit_id: params[:id], path: "vocation") %><br>
      <%= link_to "Add a Reflection Assignment", new_lesson_path(unit_id: params[:id], path: "reflection") %><br>
    <% end %>
  </div>
</div>